// BACKGROUND COLOR
$primary: #fff;
$dark-1: #222;
$dark-2: #4a4a4a;
$grey-1: #eee;
$grey-2: #cecaca;
$red-1: #fb4226;
$red-2: #aa1b05;
$blue: #347deb;
$deepBlue: #0860e4;
$yellow: #e4e716;

// TEXT COLOR
$tPrimary: #000;
$tSecondary: #fa5238;
$tWhite: #fff;
$tGreen: #108f3e;  
$tGrey-1: #9b9b9b;
$tGrey-2: #949494;

// FONT SIZE
$h1: 32px;   
$h2: 24px;   
$h3: 20px;   
$body-1: 14px;   
$body-2: 13px;   
$body-3: 12px;  

// FONT WEIGHT
$bolder: 900;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

// MARGIN
$m-1: 10px;
$m-2: 20px;
$m-3: 30px;
$m-4: 40px;
$m-5: 50px;

// PADDING
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;
$p-5: 50px;

// WIDTH
$w-1: 10px;
$w-2: 20px;
$w-3: 30px;
$w-4: 40px;
$w-5: 50px;
$w-6: 60px;
$w-7: 70px;
$w-8: 80px;
$w-9: 90px;
$w-10: 100px;
$w-100: 100%;

// HEIGHT
$h-1: 10px;
$h-2: 20px;
$h-3: 30px;
$h-4: 40px;
$h-5: 50px;
$h-6: 60px;
$h-7: 70px;
$h-8: 80px;
$h-9: 90px;
$h-10: 100px;
$h-100: 100%;