.checkout__bg {
  background: url("../../assets/img/star.jpg");
  background-attachment: fixed;
  padding: $p-5 * 2 0;
  position: relative;
  overflow-x: hidden;
  &::after {
    content: "";
    width: $w-100;
    height: $h-100;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(225, 225, 225, 0.3);
    backdrop-filter: blur(2px);
  }
  .checkout__container {
    display: flex;
    justify-content: space-between;
    width: $w-100 - 10;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    .checkout__theatre {
      width: $w-100 - 35;
      .theatre__info {
        color: $tWhite;
        font-size: $body-1 + 4;
        text-transform: uppercase;
        @include respond(extraTablet) {
          text-align: center;
        }
        @include respond(tablet) {
          text-align: center;
        }
        @include respond(phone) {
          text-align: center;
        }
        @include respond(smallPhone) {
          font-size: $body-1;
          text-align: center;
        }
        @include respond(extraSmallPhone) {
          font-size: $body-1;
          text-align: center;
        }
      }
      .theatre__screen {
        margin-bottom: $m-3;
        img {
          width: $w-100;
        }
      }
      .theatre__chairs {
        width: $w-100;
        text-align: center;
        margin-bottom: $m-3;
        .chair {
          width: $w-3;
          height: $h-3;
          border: 1px solid $dark-1;
          border-radius: 5px;
          font-size: $body-1;
          text-align: center;
          line-height: $h-3;
          margin: $m-1 - 3;
          outline: 0;
          background: transparent;
          box-shadow: 0 0 5px $dark-1;
          transition: all 0.3s;
          &:hover {
            background: $red-1;
            border: 1px solid transparent;
            color: $tWhite;
          }
          @include respond(extraTablet) {
            width: $w-3 + 5;
            height: $h-3 + 5;
            font-size: $body-1;
            line-height: $h-3 + 5;
            margin: $m-1 - 4;
          }
          @include respond(tablet) {
            width: $w-2 + 7;
            height: $h-2 + 7;
            font-size: $body-2;
            line-height: $h-2 + 7;
            margin: $m-1 - 4;
          }
          @include respond(phone) {
            width: $w-2 + 5;
            height: $h-2 + 5;
            font-size: $body-2;
            line-height: $h-2 + 5;
            margin: $m-1 - 6;
          }
          @include respond(smallPhone) {
            width: $w-2;
            height: $h-2;
            font-size: $body-2 - 4;
            line-height: $h-2;
            margin: $m-1 - 7;
          }
          @include respond(extraSmallPhone) {
            width: $w-1 + 7;
            height: $h-1 + 7;
            font-size: $body-2 - 4;
            line-height: $h-1 + 7;
            margin: $m-1 - 9;
          }
        }
      }
      .theatre__note {
        background: $primary;
        box-shadow: 0 0 5px $dark-1;
        border-radius: 5px;
        padding: $p-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin: 0;
          font-size: $h3;
          @include respond(tablet) {
            font-size: $body-1;
          }
          @include respond(phone) {
            font-size: $body-1;
          }
        }
        .note__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .note__item {
            display: flex;
            align-items: center;
            font-size: $body-1;
            font-weight: $medium;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0 $m-1;
            .vip-bg,
            .booking-bg,
            .booked-bg {
              width: $w-3;
              height: $h-3;
              border-radius: 5px;
              margin-right: $m-1;
              @include respond(phone) {
                width: $w-2;
                height: $h-2;
              }
              @include respond(phone) {
                width: $w-2;
                height: $h-2;
              }
              @include respond(smallPhone) {
                width: $w-2;
                height: $h-2;
              }
              @include respond(extraSmallPhone) {
                width: $w-2;
                height: $h-2;
                border-radius: 0;
              }
            }
            .vip-bg {
              background: $yellow;
            }
            .booking-bg {
              background: $blue;
            }
            .booked-bg {
              background: $red-1;
            }
            span {
              @include respond(extraSmallPhone) {
                font-size: $body-2;
              }
            }
          }
        }
        @include respond(smallPhone) {
          flex-direction: column;
          padding: $p-1;
        }
        @include respond(extraSmallPhone) {
          flex-direction: column;
          padding: $p-1 - 5;
        }
      }
      .checkout__detail {
        background: $primary;
        margin-top: $m-2;
        padding: $p-1;
        border-radius: 5px;
        box-shadow: 0 0 5px $dark-1;
        display: none;
        p {
          margin: 0;
          color: $tGreen;
          font-weight: $medium;
        }
        .button {
          padding: $p-1 - 5 $p-2;
        }
        @include respond(tablet) {
          display: block;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        @include respond(phone) {
          display: block;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
      @include respond(extraTablet) {
        min-width: $w-100;
        margin-bottom: $m-3;
      }
      @include respond(tablet) {
        min-width: $w-100;
        margin-bottom: $m-3;
      }
      @include respond(phone) {
        min-width: $w-100;
        margin-bottom: $m-3;
      }
    }
    .checkout__movie {
      width: $w-100 - 70;
      background: $primary;
      padding: $p-1;
      border-radius: 5px;
      box-shadow: 0 0 5px $dark-1;
      transition: all 0.4s;
      .movie__img {
        img {
          width: $w-100;
          height: $h-10 * 2.5;
          border-radius: 5px;
          margin-bottom: $m-2;
          box-shadow: 0 0 5px $dark-1;
          @include respond(extraTablet) {
            width: $w-10 * 3;
            height: $h-10 * 3.2;
            margin-right: $m-1;
          }
          @include respond(tablet) {
            width: $w-100;
            height: $h-10 * 3.5;
          }
          @include respond(phone) {
            width: $w-100;
            height: $h-10 * 2;
          }
          @include respond(smallPhone) {
            width: $w-100;
            height: $h-10 * 2;
            margin-bottom: $m-1;
          }
          @include respond(extraSmallPhone) {
            width: $w-100;
            height: $h-10 * 1.6;
            margin-bottom: $m-1 - 5;
          }
        }
      }
      .movie__info {
        .info {
          h5 {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            @include respond(phone) {
              font-size: $h3 - 4;
            }
            @include respond(smallPhone) {
              font-size: $h3 - 4;
            }
            @include respond(extraSmallPhone) {
              font-size: $h3 - 4;
            }
          }
          p {
            span {
              font-weight: $medium;
              color: $tSecondary;
            }
            @include respond(phone) {
              font-size: $body-1 + 2;
              margin: 0;
            }
            @include respond(smallPhone) {
              font-size: $body-1 + 2;
              margin: 0;
            }
            @include respond(extraSmallPhone) {
              font-size: $body-1;
              margin: 0;
            }
          }
          .booking-chairs {
            span {
              color: $tGreen;
              font-size: $h3 - 2;
            }
          }
          .price {
            font-size: $h3;
            span {
              color: $tGreen;
            } 
            @include respond(phone) {
              font-size: $h3 - 4;
            }
            @include respond(smallPhone) {
              font-size: $h3 - 4;
            }
            @include respond(extraSmallPhone) {
              font-size: $h3 - 4;
            }
          }
          hr {
            @include respond(extraSmallPhone){
              display: none;
            }
          }
        }
        .checkout__button {
          .button {
            width: $w-100;
            box-shadow: 0 0 5px $dark-1;
            @include respond(tablet) {
              width: $w-100 - 50;
            }
            @include respond(phone) {
              width: $w-100 - 50;
            }
          }
          .btn-close {
            border: 1px solid $blue;
            border-radius: 5px;
            background: linear-gradient(to right, $blue, $deepBlue);
            box-shadow: 0 0 5px $dark-1;
            padding: $p-1 - 5 $p-3;
            color: $tWhite;
            font-size: $h3;
            font-weight: $medium;
            display: none;
            transition: all 0.4s;
            &:hover {
              background: transparent;
            color: $tBlue;
            }
            @include respond(tablet) {
              display: inline-block;
            }
            @include respond(phone) {
              display: inline-block;
            }
            @include respond(smallPhone) {
              display: inline-block;
            }
            @include respond(extraSmallPhone) {
              display: inline-block;
              font-size: $h3 - 4;
            }
          }
          @include respond(tablet) {
            display: flex;
            justify-content: space-evenly;
          }
          @include respond(phone) {
            display: flex;
            justify-content: space-evenly;
          }
        }
      }
      @include respond(extraTablet) {
        min-width: $w-100;
        display: flex;
        justify-content: space-around;
      }
      @include respond(tablet) {
        display: none;
      }
      @include respond(phone) {
        display: none;
      }
      @include respond(smallPhone) {
        display: none;
      }
      @include respond(extraSmallPhone) {
        display: none;
      }
    }
    @include respond(laptop) {
      min-width: $w-100 - 5;
    }
    @include respond(extraTablet) {
      min-width: $w-100 - 5;
      flex-direction: column;
    }
    @include respond(tablet) {
      min-width: $w-100 - 5;
      flex-direction: column;
    }
    @include respond(phone) {
      min-width: $w-100 - 2;
      flex-direction: column;
    }
    @include respond(smallPhone) {
      min-width: $w-100 - 2;
      flex-direction: column;
    }
    @include respond(extraSmallPhone) {
      min-width: $w-100 - 2;
      flex-direction: column;
    }
  }
  .vip-chair {
    background: $yellow !important;
    color: $tPrimary;
  }
  .booking-chair {
    background: $blue !important;
    border: 1px solid transparent !important;
    color: $tWhite;
  }
  .booked-chair {
    background: $red-2 !important;
    color: $tWhite;
  }
  @include respond(tablet) {
    padding-bottom: 0;
  }
  @include respond(phone) {
    padding-top: $p-5 + 5;
    padding-bottom: 0;
  }
  @include respond(smallPhone) {
    padding-top: $p-5 + 5;
    padding-bottom: 0;
  }
  @include respond(extraSmallPhone) {
    padding-top: $p-5;
    padding-bottom: 0;
  }
}
