.detail {
  padding: $p-5 * 2 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: $w-100;
    height: $h-100;
    background: linear-gradient(
      to bottom,
      transparent 20%,
      rgba(0, 0, 0, 0.9) 50%
    );
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
  }
  .detail__film {
    width: $w-100 - 35;
    margin: 0 auto;
    padding: $p-1;
    .film {
      display: flex;
      justify-content: space-between;
      padding: $p-1;
      box-shadow: 0 0 10px $dark-1;
      border-radius: 5px;
      align-items: center;
      margin: $m-5 + 10 0;
      color: $tWhite;
      position: relative;
      z-index: 10;
      .film__info {
        display: flex;
        align-items: center;
        position: relative;
        .film__img {
          width: $w-10 * 2;
          height: $h-10 * 3;
          margin-right: $m-2;
          position: relative;
          cursor: pointer;
          &:hover .play__trailer {
            opacity: 1;
            visibility: visible;
          }
          img {
            width: $w-100;
            height: $h-100;
            border-radius: 5px;
            box-shadow: 0 0 5px $dark-1;
          }
          .play__trailer {
            width: $w-100;
            height: $h-100;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s;
            .play__button {
              width: $w-5;
              height: $h-5;
              border: 1px solid $primary;
              border-radius: 50%;
              background: transparent;
              color: $tWhite;
              outline: 0;
              transition: all 0.4s;
              &:hover {
                opacity: 0.5;
              }
              .fa-play {
                text-align: center;
                line-height: $h-5;
              }
            }
          }
          @include respond(extraTablet) {
            opacity: 0;
            min-width: $w-100;
            margin-right: 0;
          }
          @include respond(tablet) {
            opacity: 0;
            min-width: $w-100;
            margin-right: 0;
          }
          @include respond(phone) {
            opacity: 0;
            min-width: $w-100;
            margin-right: 0;
          }
        }
        .film__trailer {
          position: absolute;
          top: 0;
          left: 0;
          width: $w-100;
          height: $h-10 * 3;
          box-shadow: 0 0 5px $dark-1;
          display: none;
          @include respond(extraTablet) {
            display: block;
          }
          @include respond(tablet) {
            display: block;
          }
          @include respond(phone) {
            display: block;
            top: -13%;
          }
          
        }
        .film__desc {
          font-size: $body-1;
          font-weight: $medium;
          p {
            margin: 0;
            &:nth-child(2) {
              font-size: $h3;
              margin-bottom: $m-2;
              @include respond(smallPhone) {
                font-size: $h3 - 4;
              }
              @include respond(extraSmallPhone) {
                font-size: $h3 - 4;
              }
            }
            span {
              color: $tSecondary;
            }
            @include respond(extraTablet) {
              margin-bottom: $m-2;
            }
            @include respond(tablet) {
              margin-bottom: $m-2;
            }
            @include respond(phone) {
              margin-bottom: $m-2;
            }
          }
          @include respond(extraTablet) {
            margin-top: $m-2;
            padding: 0 $p-1;
          }
          @include respond(tablet) {
            margin-top: $m-2;
            padding: 0 $p-1;
          }
          @include respond(phone) {
            margin-top: $m-2;
            padding: 0 $p-1 - 5;
          }
          @include respond(smallPhone) {
            margin-top: $m-1;
            padding: 0 $p-1 - 5;
          }
          @include respond(extraSmallPhone) {
            margin-top: $m-1;
            padding: 0 $p-1 - 5;
          }
        }
        .button {
          @include respond(extraTablet) {
            display: none;
          }
          @include respond(tablet) {
            display: none;
          }
          @include respond(phone) {
            display: none;
          }
        }
        @include respond(extraTablet) {
          flex-direction: column;
          align-items: flex-start;
          min-width: $w-100;
          padding: 0;
        }
        @include respond(tablet) {
          flex-direction: column;
          align-items: flex-start;
          min-width: $w-100;
          padding: 0;
        }
        @include respond(phone) {
          flex-direction: column;
          align-items: flex-start;
          min-width: $w-100;
          padding: 0;
        }
      }
      .film__review {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $body-1;
        margin-right: $m-3;
        .review__point {
          width: $w-10 + 20;
          height: $h-10 + 20;
          margin-bottom: $m-1;
          border: 7px solid $red-1;
          border-radius: 50%;
          font-size: $h1;
          text-align: center;
          line-height: $h-10 + 20;
          @include respond(laptop) {
            width: $w-10;
            height: $h-10;
            line-height: $h-10;
            font-size: $h1;
            border: 4px solid $red-1;
          }
          @include respond(extraTablet) {
            width: $w-6;
            height: $h-2;
            line-height: $h-2 + 10;
            font-size: $body-2;
            text-align: center;
            border: 0;
            border-radius: 5px;
            margin: $m-1 - 5 0;
          }
          @include respond(tablet) {
            width: $w-6;
            height: $h-2;
            line-height: $h-2 + 10;
            font-size: $body-2;
            text-align: center;
            border: 0;
            border-radius: 5px;
            margin: $m-1 - 5 0;
          }
          @include respond(phone) {
            width: $w-6;
            height: $h-2;
            line-height: $h-2 + 10;
            font-size: $body-2;
            text-align: center;
            border: 0;
            border-radius: 5px;
            margin: $m-1 - 5 0;
          }
        }
        .review__star {
          margin-bottom: $m-1;
          color: $red-1;
          font-size: $h3;
          @include respond(extraTablet) {
            font-size: $body-2 - 5;
          }
          @include respond(tablet) {
            font-size: $body-2 - 5;
          }
          @include respond(phone) {
            font-size: $body-2 - 5;
          }
        }
        @include respond(extraTablet) {
          position: absolute;
          top: 15px;
          right: 5%;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 5px;
        }
        @include respond(tablet) {
          position: absolute;
          top: 15px;
          right: 5%;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 5px;
        }
        @include respond(phone) {
          position: absolute;
          top: 15px;
          right: 5%;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 5px;
        }
        @include respond(smallPhone) {
          display: none;
        }
        @include respond(extraSmallPhone) {
          display: none;
        }
      }
      @include respond(extraTablet) {
        padding: 0;
        margin: 0;
        background: transparent;
      }
      @include respond(tablet) {
        padding: 0;
        margin: 0;
        background: transparent;
      }
      @include respond(phone) {
        padding: 0;
        margin: 0;
        background: transparent;
      }
    }
    @include respond(laptop) {
      padding: 0;
      min-width: $w-100 - 15;
    }
    @include respond(extraTablet) {
      padding: 0;
      min-width: $w-100;
    }
    @include respond(tablet) {
      padding: 0;
      min-width: $w-100;
    }
    @include respond(phone) {
      padding: 0;
      min-width: $w-100;
    }
    @include respond(smallPhone) {
      padding: 0;
      min-width: $w-100;
    }
    @include respond(extraSmallPhone) {
      padding: 0;
      min-width: $w-100;
    }
  }
  .detail__cinema {
    width: $w-100 - 35;
    margin: 0 auto;
    padding: $p-5 + 20 $p-1;
    position: relative;
    z-index: 10;
    .cinema__tabs {
      color: $tWhite;
      .tabs__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $m-2;
        height: $h-5;
        .title {
          margin: 0 $m-2;
          cursor: pointer;
          p {
            font-weight: $medium;
            margin: 0;
            transition: all 0.2s linear;
            @include respond(phone) {
              font-size: $body-1;
            }
          }
        }
        .active {
          font-size: $h3 - 2;
          color: $tSecondary;
        }
      }
      .tabs__content {
        width: $w-100;
        height: $h-10 * 4;
        position: relative;
        z-index: 999;
        .content {
          width: $w-100;
          height: $h-100;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.15s linear;
        }
        .movie-schedule {
          width: $w-100;
          height: $h-100;
          overflow: hidden;
          background: $primary;
          color: $tPrimary;
          padding: 0 $p-1;
          border-radius: 5px;
          .schedule {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .schedule__cineplex {
              width: $w-100 - 75;
              height: $h-10 * 4;
              border-right: 1px solid $grey-2;
              padding-top: $p-1;
              padding-bottom: $p-1;
              padding-right: $p-1;
              overflow: auto;
              .cineplex__logo {
                width: $w-100;
                padding: $p-1;
                margin-bottom: $m-1;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                opacity: 0.6;
                transition: all 0.2s linear;
                img {
                  width: $w-5;
                  height: $h-5;
                  @include respond(phone) {
                    width: $w-4 - 5;
                    height: $h-4 - 5;
                  }
                }
                @include respond(phone) {
                  width: $w-100 - 85;
                }
              }
              .logo-active {
                opacity: 1;
                background: $grey-2;
              }
              @include respond(phone) {
                width: $w-100;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                border-right: 0;
                border-bottom: 1px solid $grey-2;
                padding: $p-1;
              }
            }
            .schedule__showtime {
              width: $w-100 - 25;
              height: $h-10 * 4;
              position: relative;
              .showtime__content {
                width: $w-100;
                height: $h-10 * 4;
                border-radius: 5px;
                padding: $p-1;
                height: inherit;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
                overflow-y: auto;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                .content__inner {
                  margin-bottom: $m-2;
                  padding-bottom: $p-1;
                  border-bottom: 1px solid $grey-2;
                  .content__info {
                    display: flex;
                    img {
                      width: $w-5;
                      height: $h-5;
                      margin-right: $m-1;
                      border-radius: 3px;
                      box-shadow: 0 0 5px $dark-2;
                    }
                    .info {
                      p {
                        margin: 0;
                        font-weight: $medium;
                        &:nth-child(2) {
                          font-size: $h3;
                          margin-bottom: $m-1;
                          opacity: 0.8;
                          text-shadow: 0 0 5px $dark-2;
                        }
                      }
                    }
                  }
                  .content__button {
                    .button {
                      width: $w-10 + 80;
                      text-align: center;
                      padding: $p-1 - 5 $p-1 + 5;
                      font-size: $body-2;
                      margin-right: $m-1;
                      margin-bottom: $m-1;
                      p {
                        margin: 0;
                        &:nth-child(2) {
                          font-size: $body-2 - 4;
                        }
                      }
                      @include respond(smallPhone) {
                        font-size: $body-2 - 2;
                        width: $w-100;
                      }
                    }
                  }
                }
              }
              .show-schedule {
                opacity: 1;
                visibility: visible;
              }
              @include respond(phone) {
                width: $w-100;
              }
            }
            @include respond(phone) {
              flex-direction: column;
            }
          }
        }
        .movie-detail {
          width: $w-100;
          height: $h-100;
          overflow-y: auto;
          .movie {
            display: flex;
            justify-content: space-between;
            font-size: $body-1;
            text-align: justify;
            .movie__inner-1 {
              width: $w-100 - 60;
              .inner__item {
                display: flex;
                justify-content: space-between;
                p {
                  margin: $m-1;
                  font-weight: $medium;
                  &:nth-child(2) {
                    font-weight: $light;
                  }
                }
              }
              @include respond(phone) {
                width: $w-100;
              }
            }
            .movie__inner-2 {
              width: $w-100 - 45;
              p {
                margin: $m-1;
                font-weight: $medium;
                span {
                  font-weight: $light;
                }
              }
              @include respond(phone) {
                width: $w-100;
              }
            }
            @include respond(phone) {
              flex-direction: column;
            }
          }
        }
        .movie-post {
          height: auto;
          .post {
            .post__button {
              width: $w-100;
              margin-bottom: $m-2;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background: $primary;
              padding: $p-1 - 5 $p-1 + 5;
              border-radius: 5px;
              color: $tPrimary;
              cursor: pointer;
              .button__acc {
                display: flex;
                align-items: center;
                img {
                  width: $w-3;
                  height: $h-3;
                  margin: $m-1;
                  border-radius: 50%;
                }
                p {
                  margin: 0;
                  font-size: $body-1;
                  color: $tGrey-2;
                  @include respond(smallPhone) {
                    font-size: $body-2;
                  }
                }
                @include respond(smallPhone) {
                  font-size: $body-2;
                }
              }
              .button__stars {
                font-size: $body-1 + 6;
                color: $red-1;
                opacity: 0.6;
                @include respond(tablet) {
                  font-size: $body-1;
                }
              }
              @include respond(tablet) {
                width: $w-100;
              }
              @include respond(smallPhone) {
                width: $w-100;
                padding: $p-1 - 5;
              }
            }
            .post__input {
              width: $w-100;
              height: $h-100;
              background: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              position: fixed;
              top: 0;
              left: 0;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s linear;
              .input {
                width: $w-100 - 50;
                padding: $p-1 + 5 $p-1;
                border-radius: 5px;
                background: $primary;
                position: relative;
                .input__close {
                  position: absolute;
                  top: 0;
                  right: 5px;
                  font-size: $body-1 + 4;
                  cursor: pointer;
                  color: $tSecondary;
                }
                .input__textarea {
                  width: $w-100;
                  margin-bottom: $m-1;
                  padding: $p-1 - 5;
                  border: 1px solid $grey-2;
                  border-radius: 5px;
                  .textarea {
                    width: $w-100;
                    border: 0;
                    outline: 0;
                  }
                }
                .input__button {
                  width: $w-100;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  .button {
                    padding: $p-1 - 5 $p-2;
                    font-size: $body-2;
                  }
                }
                @include respond(tablet) {
                  margin-top: $m-2;
                  width: $w-100 - 15;
                }
                @include respond(smallPhone) {
                  width: $w-100 - 10;
                }
              }
            }
            .post__list {
              width: $w-100;
              height: $h-10 * 4;
              padding: 0 $p-3;
              overflow-y: scroll;
              .list__item {
                width: $w-100;
                border-radius: 5px;
                font-size: $body-1;
                color: $tPrimary;
                background: $primary;
                padding: $p-2;
                margin-bottom: $m-2;
                .item__info {
                  display: flex;
                  align-items: center;
                  padding: $p-1 0;
                  border-bottom: 1px solid $grey-2;
                  img {
                    width: $w-4;
                    height: $h-4;
                    border-radius: 50%;
                    margin-right: $m-1;
                    object-fit: cover;
                    object-position: center;
                  }
                  p {
                    margin: 0;
                    font-weight: $medium;
                  }
                }
                .item__post {
                  padding: $p-3 $p-1;
                  border-bottom: 1px solid $grey-2;
                  color: $tDark-2;
                  p {
                    margin: 0;
                  }
                }
                .item__like {
                  padding: $p-1 0;
                  span {
                    margin-right: $m-1 - 3;
                    color: $tGrey-2;
                    &:nth-child(1) {
                      cursor: pointer;
                    }
                    &:nth-child(2) {
                      font-weight: $medium;
                    }
                  }
                }
                @include respond(extraTablet) {
                  padding: $p-1;
                }
              }
              @include respond(extraTablet) {
                padding: 0;
              }
            }
            .post__alert {
              width: $w-100;
              height: $h-100;
              position: fixed;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s linear;
              .alert__inner {
                width: $w-100 - 65;
                background: $primary;
                padding: $p-1;
                border-radius: 5px;
                color: $tPrimary;
                font-size: $h3;
                text-align: center;
                position: relative;
                .fa {
                  font-size: $body-1 + 4;
                  color: $tSecondary;
                  position: absolute;
                  top: 5px;
                  right: 10px;
                  cursor: pointer;
                }
                p {
                  margin: 0;
                }
                .inner__button {
                  width: $w-100;
                  display: flex;
                  justify-content: flex-end;
                  .button {
                    padding: $p-1 - 5 $p-1 + 5;
                    font-size: $body-1;
                  }
                }
                @include respond(tablet) {
                  width: $w-100 - 20;
                  font-size: $body-1 + 4;
                }
              }
            }
            .post__input.show-input,
            .post__alert.show-alert {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .show {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @include respond(extraTablet) {
      width: $w-100 - 15;
    }
    @include respond(phone) {
      width: $w-100;
    }
  }
}
