.login-container {
  padding: $p-5 0;
  height: 100vh;
  background: url("../../assets/img/posterBG.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    width: $w-100;
    height: $h-100;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
  }
  .login__form {
    width: $w-100 - 65;
    border-radius: 5px;
    box-shadow: 0 0 5px $dark-1;
    background: $primary;
    padding: $p-5;
    position: relative;
    z-index: 10;
    @include respond(extraTablet) {
      width: $w-100 - 20;
    }
    @include respond(tablet) {
      width: $w-100;
      height: $h-100;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    @include respond(phone) {
      width: $w-100;
      height: $h-100;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    h3 {
      font-size: $h2;
      font-weight: $medium;
      text-align: center;
      margin-bottom: $m-4;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include respond(tablet) {
        color: $tWhite;
      }
      @include respond(phone) {
        color: $tWhite;
      }
    }
    .form__item {
      width: $w-100;
      height: $h-4;
      margin-bottom: $m-3;
      font-size: $body-1;
      font-weight: $medium;
      border: 2px solid $red-1;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      .form__icon {
        width: $w-4;
        height: $h-100;
        margin: 0;
        background: $red-1;
        color: $tWhite;
        text-align: center;
        line-height: $h-4;
      }
      .form__group {
        width: $w-100 - 5;
        .form__input {
          width: $w-100;
          height: $h-100;
          padding: $p-1 - 3;
          background: $primary;
          display: flex;
          align-items: center;
          margin-bottom: $m-1 - 5;
          input {
            background: transparent;
            color: $tPrimary;
            border: 0;
            width: $w-100;
            outline: 0;
          }
          .error-icon {
            display: none;
            i {
              color: $red-1;
              margin-right: $m-1;
              font-size: $h3;
            }
          }
          .password__btn {
            color: $tSecondary;
          }
        }
      }
    }
    .form__button {
      text-align: center;
      .button {
        width: $w-100;
        box-shadow: 0 0 5px $dark-1;
        margin-bottom: $m-3;
      }
      p {
        color: $tGrey-2;
        .form__link {
          text-decoration: underline;
          color: $tPrimary;
          font-weight: $medium;
          transition: all 0.3s;
          &:hover {
            color: $tSecondary;
          }
          @include respond(tablet) {
            color: $tWhite;
          }
          @include respond(phone) {
            color: $tWhite;
          }
        }
      }
    }
  }
  .return-button {
    text-decoration: none;
    color: $tPrimary;
    width: $w-4;
    height: $h-4;
    font-size: $h3;
    text-align: center;
    line-height: $h-4;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    z-index: 10;
    @include respond(tablet) {
      background: transparent;
      color: $tWhite;
      font-size: $h2;
    }
    @include respond(phone) {
      background: transparent;
      color: $tWhite;
      font-size: $h2;
    }
  }
  @include respond(extraTablet) {
    padding: 0;
  }
  @include respond(tablet) {
    padding: 0;
  }
  @include respond(phone) {
    padding: 0;
  }
}
