.usertemplate-wrapper {
  width: $w-100;
  height: $h-100;
  position: fixed;
  display: flex;
  color: $tPrimary;
  .user__info {
    width: $w-100 - 75;
    padding: $p-1;
    box-shadow: 0 0 5px $dark-1;
    background: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    .user__logo {
      text-align: center;
      font-size: $h3;
      border-bottom: 1px solid $grey-2;
      img {
        width: $w-10;
        height: $h-10;
        border-radius: 50%;
        box-shadow: 0 0 5px $dark-1;
        text-shadow: 0 0 5px $dark-1;
        margin-bottom: $m-1;
        @include respond(tablet) {
          display: none;
        }
        @include respond(phone) {
          display: none;
        }
      }
      @include respond(tablet) {
        font-size: $body-1 + 2;
        border: 0;
        p {
          margin: 0;
        }
      }
      @include respond(phone) {
        font-size: $body-1 + 2;
        border: 0;
        p {
          margin: 0;
        }
      }
    }
    .user__menu {
      padding: $p-3;
      .user__link {
        display: block;
        text-decoration: none;
        padding: $p-1 - 5;
        border-bottom: 1px solid $dark-1;
        color: $tPrimary;
        font-size: $body-1 + 4;
        font-weight: $medium;
        margin: $m-3 0;
        transition: all 0.4s;
        &:hover {
          color: $tSecondary;
          border-bottom: 1px solid $red-1;
          animation: move 0.8s linear infinite;
          @include respond(tablet) {
            border: 0;
          }
          @include respond(phone) {
            border: 0;
          }
        }
        i {
          margin-right: $m-1;
          @include respond(tablet) {
            display: none;
          }
          @include respond(phone) {
            display: none;
          }
        }
        @include respond(tablet) {
          font-size: $body-1 + 2;
          margin: $m-1;
          border: 0;
        }
        @include respond(phone) {
          font-size: $body-1 + 2;
          margin: $m-1;
          border: 0;
        }
      }
      @include respond(tablet) {
        display: flex;
        padding: 0;
      }
      @include respond(phone) {
        display: flex;
        padding: 0;
      }
    }
    .user__button {
      position: relative;
      cursor: pointer;
      &:hover .btn-return-1 {
        width: $w-100;
      }
      &:hover .btn-return-2 {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.4s;
      }
      .btn-return-1,
      .btn-return-2 {
        text-decoration: none;
        color: $tPrimary;
        display: block;
      }
      .btn-return-1 {
        width: $w-100 - 89;
        padding: $p-1;
        border-radius: 5px;
        background: $red-1;
        transition: all 0.4s;
      }
      .btn-return-2 {
        position: absolute;
        top: 10px;
        left: 30%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
      }
      @include respond(tablet) {
        display: none;
      }
      @include respond(phone) {
        display: none;
      }
    }
    .sub-btn {
      display: none;
      @include respond(tablet) {
        text-decoration: none;
        color: $tPrimary;
        display: block;
      }
      @include respond(phone) {
        text-decoration: none;
        color: $tPrimary;
        display: block;
      }
    }
    @include respond(tablet) {
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      width: $w-100;
      background: $primary;
    }
    @include respond(phone) {
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      width: $w-100;
      background: $primary;
    }
  }
  .user__content {
    width: $w-100 - 25;
    height: $h-100;
    background-image: url("../../assets/img/posterBG.jpg");
    background-position: center;
    background-attachment: fixed;
    overflow-y: auto;
    position: relative;
    &::after {
      content: "";
      width: $w-100;
      height: $h-100;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(2px);
    }
    @include respond(tablet) {
      width: $w-100;
    }
    @include respond(phone) {
      width: $w-100;
    }
  }
  @include respond(tablet) {
    flex-direction: column;
  }
  @include respond(phone) {
    flex-direction: column;
  }
}

.userInfo-wrapper {
  padding: $p-3;
  position: relative;
  z-index: 100;
  .userInfo__content {
    width: $w-100;
    margin-bottom: $m-1;
    padding: $p-2;
    box-shadow: 0 0 5px $dark-1;
    border-radius: 5px;
    // background: rgba(0, 0, 0, 0.8);
    color: $tWhite;
    h3 {
      text-align: center;
    }
    p {
      &:nth-child(2) {
        padding-bottom: $p-1;
        border-bottom: 1px solid $grey-2;
      }
      span {
        color: $tSecondary;
      }
    }
  }
  .button {
    text-decoration: none;
    color: $tWhite;
    font-size: $body-1;
    margin-bottom: $m-3;
    transition: all 0.4s;
    i {
      margin-right: $m-1;
    }
  }
  @include respond(tablet) {
    min-width: $w-100;
  }
  @include respond(phone) {
    min-width: $w-100;
  }
}

.userUpdate-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  .form {
    width: $w-100 - 30;
    margin: $m-1 auto;
    padding: $p-2;
    border: 1px solid $red-1;
    border-radius: 5px;
    color: $tWhite;
    h3 {
      text-align: center;
    }
    .form__item {
      display: flex;
      flex-direction: column;
      .form__input {
        width: $w-100;
        margin-bottom: $m-1 - 5;
        border: 1px solid $red-1;
        padding: $p-1 - 5;
        border-radius: 5px;
        display: flex;
        align-items: center;
        input {
          width: $w-100;
          color: $tWhite;
          background: transparent;
          border: 0;
          outline: 0;
        }
        .error-icon {
          display: none;
          i {
            margin-right: $m-1;
            color: $red-1;
          }
        }
      }
    }
    .errors__message {
      color: $tSecondary;
      font-size: $body-1;
      font-weight: $medium;
    }
    .form__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: $m-2;
    }
  }
}

.userHistory-wrapper {
  height: $h-100;
  text-align: center;
  padding: $p-3;
  position: relative;
  z-index: 100;
  .userHistory-body {
    padding: $p-2;
    color: $tWhite;
    border-radius: 5px;
    h3 {
      color: $tSecondary;
    }
    .table {
      color: $tWhite;
      .film-wrapper {
        text-align: left;
        .film-body {
          p {
            text-indent: 15px;
            margin: 0;
            i {
              color: $tSecondary;
              margin-right: $m-1;
            }
          }
        }
      }
    }
  }
  @include respond(tablet) {
    overflow-y: visible !important;
    height: auto;
  }
  @include respond(phone) {
    overflow-y: visible !important;
    height: auto;
  }
}


