.user {
  width: $w-100;
  position: relative;
  .user__header {
    box-shadow: 0 0 5px $dark-2;
    padding: $p-1 - 5 $p-3;
    background: linear-gradient(to right, $grey-1 28%, $grey-2 92%);
    .header__logo {
      img {
        width: $w-5;
        height: $h-5;
      }
    }
    @include respond(extraTablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .user__wrapper {
    width: $w-100;
    height: $h-100;
    padding: $p-2;
    .wrapper {
      width: $w-100;
      height: $h-100;
      display: flex;
      justify-content: space-between;
      @include respond(extraTablet) {
        flex-direction: column;
      }
    }
    @include respond(extraTablet) {
      padding: 0 $p-1 - 5;
    }
  }
  @include respond(extraTablet) {
    height: 105vh;
  }
}
