.checkout-bar {
  width: $w-100 - 15;
  padding: $p-2 $p-1;
  box-shadow: 0 0 10px $dark-1;
  border-radius: 5px;
  background: $primary;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  .checkout__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $h-5;
    .checkout__item {
      width: $w-100 - 50;
      font-size: $body-1;
      position: relative;
      margin: $m-1 - 5;
      padding: $p-1 - 5;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        min-width: $w-100 - 75;
      }
      &:nth-child(2), 
      &:nth-child(3) {
        min-width: $w-100 - 80;
      }
      .btn__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: $w-100;
        border: 0;
        outline: 0;
        background: transparent;
        cursor: pointer;
        span {
          width: $w-100 - 10;
          margin-right: $m-5 * 1.5;
        }
        i {
          color: $tGrey-1;
        }
      }
      .button {
        text-decoration: none;
        background: $dark-2;
        border: 1px solid $dark-2;
        transition: all 0.5s;
        &:hover {
          color: $tWhite !important;
        }
      }
      .btn-buy {
        background: linear-gradient(to right, $red-2, $red-1);
        border: 1px solid $red-1;
        &:hover {
          background: $primary;
          color: $tSecondary !important;
        }
      }
    }
    .checkout__list {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 100;
      width: $w-10 * 3.5;
      height: $h-100 * 7;
      border: 1px solid $grey-2;
      border-radius: 5px;
      box-shadow: 0 0 5px $dark-2;
      background: $primary;
      overflow-y: scroll;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      &::-webkit-scrollbar {
        width: $w-1 * 0.5;
        background: $primary;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $red-1;
      }
      .list__item {
        padding: $p-1 - 5 $p-3;
        transition: all 0.3s;
        border-bottom: 1px solid $grey-2;
        cursor: pointer;
        &:hover {
          background: $red-1;
        }
        .item__link {
          width: $w-100;
          border: 0;
          margin: 0;
          text-align: left;
          background: transparent;
          color: $tPrimary;
        }
        
      }
      .list__default {
        font-size: $h3 - 2;
        padding: $p-1 - 5 $p-3;
        text-align: center;
        font-style: italic;
      }
    }
    .show__list {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
  @include respond(laptop) {
    display: none;
  }
  @include respond(extraTablet) {
    display: none;
  }
  @include respond(tablet) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }
}
