.demo {
    width: 100%;
    height: 100vh;
}

.demo-button {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    width: 100px;
    height: 50px;
}

.item {
    height: 100vh;
}

.item1 {background: red;}
.item2 {background: violet;}
.item3 {background: lightblue;}
.item4 {background: pink;}
