.button {
    text-decoration: none !important;
    border: 1px solid $red-1;
    border-radius: 5px;
    padding: $p-1 * 0.8 $p-3;
    background: linear-gradient(to right, $red-2, $red-1);
    box-shadow: 0 0 5px $dark-1;
    color: $tWhite;
    outline: 0 !important;
    cursor: pointer;
    transition: all 0.4s;
    display: inline-block;
    &:hover {
        background: transparent;
        border: 1px solid $red-1;
        color: $tSecondary !important;
    }
}

.btn-blue {
    text-decoration: none !important;
    border: 1px solid $blue;
    border-radius: 5px;
    padding: $p-1 - 5 $p-2;
    background: linear-gradient(to right, $deepBlue, $blue);
    box-shadow: 0 0 5px $dark-1;
    color: $tWhite;
    outline: 0 !important;
    cursor: pointer;
    transition: all 0.4s;
    display: inline-block;
    &:hover {
        background: transparent;
        border: 1px solid $blue;
        color: $blue !important;
    }
}