.button__loading {
    margin-right: $m-1;
    i {
        animation: rotate 3s linear infinite;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}