.rwd-cinema__wrapper {
  display: none;
  .card {
    .card-header {
      .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: $w-6;
          height: $h-6;
          @include respond(phone) {
            width: $w-4 + 5;
            height: $h-4 + 5;
          }
          @include respond(smallPhone) {
            width: $w-4 + 5;
            height: $h-4 + 5;
          }
        }
        i {
          text-decoration: none;
          color: $tPrimary;
          font-size: $h3;
        }
      }
      @include respond(phone) {
        padding: $p-1 - 5 $p-2;
      }
      @include respond(smallPhone) {
        padding: $p-1 - 5;
      }
    }
    .card-body {
      cursor: pointer;
      padding: $p-1 - 8;
      .cinema__info {
        display: flex;
        margin-bottom: $m-1;
        img {
          width: $w-5 + 5;
          height: $h-5 + 5;
          margin-right: $m-1;
          border-radius: 5px;
          box-shadow: 0 0 5px $dark-1;
          @include respond(phone) {
            width: $w-5;
            height: $h-5;
          }
          @include respond(smallPhone) {
            width: $w-5;
            height: $h-5;
          }
        }
        .cinema__name {
          p {
            margin-bottom: $m-1 - 5;
            font-weight: $medium;
            &:nth-child(2) {
              font-size: $body-1;
              font-weight: $regular;
              @include respond(phone) {
                font-size: $body-2;
              }
              @include respond(smallPhone) {
                font-size: $body-2;
              }
            }
            @include respond(phone) {
              font-size: $body-1;
              margin: 0;
            }
            @include respond(smallPhone) {
              font-size: $body-1;
              margin: 0;
            }
          }
        }
        @include respond(phone) {
          margin-bottom: $m-1 - 5;
        }
        @include respond(smallPhone) {
          margin-bottom: $m-1 - 5;
        }
      }
      .film__body {
        margin: 0;
        padding: $p-1 - 5 $p-2;
        .film__info {
          display: flex;
          img {
            width: $w-5;
            height: $h-5;
            margin-right: $m-2;
            @include respond(phone) {
              width: $w-100 - 75;
              height: $h-6;
            }
            @include respond(smallPhone) {
              width: $w-100 - 70;
              height: $h-6;
            }
          }
        }
        .film__name {
          p {
            margin: 0;
            font-weight: $medium;
            text-transform: uppercase;
            @include respond(phone) {
              font-size: $body-2;
            }
            @include respond(smallPhone) {
              font-size: $body-2;
            }
          }
          .button {
            text-decoration: none;
            font-size: $body-2;
            padding: $p-1 - 5;
            margin-right: $m-1 - 5;
            @include respond(phone) {
              display: none;
            }
            @include respond(smallPhone) {
              display: none;
            }
          }
          .btn-time {
            display: none;
            @include respond(phone) {
              display: inline-block;
              font-size: $body-2 - 2;
            }
            @include respond(smallPhone) {
              display: inline-block;
              font-size: $body-2 - 2;
            }
          }
          @include respond(phone) {
            width: $w-100 - 35;
          }
          @include respond(smallPhone) {
            width: $w-100 - 35;
          }
        }
      }
    }
  }
  @include respond(extraTablet) {
    display: block;
  }
  @include respond(tablet) {
    display: block;
  }
  @include respond(phone) {
    display: block;
  }
}

.rwd-checkout__wrapper {
  .rwd-checkout__info {
    width: $w-100;
    height: $h-100;
    background: $primary;
    box-shadow: 0 0 5px $dark-1;
    transition: all 0.4s;
    position: fixed;
    top: 0;
    left: -105%;
    z-index: 10000;
    display: none;
    overflow-y: auto;
    .movie__img {
      img {
        width: $w-100;
        height: $h-10 * 2.5;
        border-radius: 5px;
        margin-bottom: $m-2;
        box-shadow: 0 0 5px $dark-1;
        @include respond(extraTablet) {
          width: $w-10 * 3;
          height: $h-10 * 3.2;
          margin-right: $m-1;
        }
        @include respond(tablet) {
          width: $w-100;
          height: $h-10 * 4;
        }
        @include respond(phone) {
          width: $w-100;
          height: $h-10 * 3;
        }
        @include respond(smallPhone) {
          width: $w-100;
          height: $h-10 * 3;
          margin-bottom: $m-1;
        }
        @include respond(extraSmallPhone) {
          width: $w-100;
          height: $h-10 * 2.8;
          margin-bottom: $m-1 - 5;
        }
      }
    }
    .movie__info {
      .info {
        h5 {
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;
          @include respond(phone) {
            font-size: $h3 - 4;
          }
          @include respond(smallPhone) {
            font-size: $h3 - 4;
          }
          @include respond(extraSmallPhone) {
            font-size: $h3 - 4;
          }
        }
        p {
          span {
            font-weight: $medium;
            color: $tSecondary;
          }
          @include respond(tablet) {
            font-size: $h3 - 2;
            margin: 0;
          }
          @include respond(phone) {
            font-size: $h3 - 2;
            margin: 0;
          }
          @include respond(smallPhone) {
            font-size: $body-1 + 2;
            margin: 0;
          }
          @include respond(extraSmallPhone) {
            font-size: $body-1;
            margin: 0;
          }
        }
        .booking-chairs {
          span {
            color: $tGreen;
            font-size: $h3 - 2;
          }
        }
        .price {
          font-size: $h3;
          span {
            color: $tGreen;
          }
          @include respond(phone) {
            font-size: $h3 - 4;
          }
          @include respond(smallPhone) {
            font-size: $h3 - 4;
          }
          @include respond(extraSmallPhone) {
            font-size: $h3 - 4;
          }
        }
      }
      .checkout__button {
        .button {
          width: $w-100;
          box-shadow: 0 0 5px $dark-1;
          @include respond(tablet) {
            width: $w-100 - 50;
          }
          @include respond(phone) {
            width: $w-100 - 50;
          }
        }
        .btn-close {
          border: 1px solid $blue;
          border-radius: 5px;
          background: linear-gradient(to right, $blue, $deepBlue);
          box-shadow: 0 0 5px $dark-1;
          padding: $p-1 - 5 $p-3;
          color: $tWhite;
          font-size: $h3;
          font-weight: $medium;
          display: none;
          transition: all 0.4s;
          &:hover {
            background: transparent;
            color: $tBlue;
          }
          @include respond(tablet) {
            display: inline-block;
          }
          @include respond(phone) {
            display: inline-block;
          }
          @include respond(smallPhone) {
            display: inline-block;
          }
          @include respond(extraSmallPhone) {
            display: inline-block;
            font-size: $h3 - 4;
          }
        }
        @include respond(tablet) {
          display: flex;
          justify-content: space-evenly;
        }
        @include respond(phone) {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
    @include respond(tablet) {
      padding: $p-3;
      display: block;
    }
    @include respond(phone) {
      padding: $p-3;
      display: block;
    }
    @include respond(smallPhone) {
      padding: $p-1;
      display: block;
    }
    @include respond(extraSmallPhone) {
      padding: $p-1;
      display: block;
    }
  }
  .show-detail {
    left: 0;
  }
}
